{% extends 'base.html' %}


{% block content %}


    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">Wrong!</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form action="." method="post" class="card pt-3">{% csrf_token %}
        <div class="form-group row">

            <div class="col-sm-5">
                {{ form.name}}
            </div>
        </div>
        <br>
        <div class="form-group row">

            <div class="col-sm-5">
                {{ form.status}}
            </div>
        </div>
        <br>
        <div class="form-group row">

            <div class="col-sm-5">
                {{ form.point}}
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-sm-2">
                <input type="submit" value="Submit" class="btn btn-outline-success"/>
            </div>
        </div>
    </form>

{% endblock %}