{% extends 'base.html' %}

{% block title %}
extra_home.html
{% endblock %}

{% block content %}

<div class="row justify-content-evenly g-4">
    <div class="col-12">
      <div class="card border-dark">
        <div class="card-body text-center">
          <h5 class="card-title">칠판</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

{% for seat in seats %}

{% if seat %}

<div class="col-auto">
  <!--결과창 - 이유도 추가.-->
  <div class="card border-dark">
        {% if user.student == seat.student %}
        <div class="card-body bg-secondary text-center">
        {% else %}
        <div class="card-body text-center">
        {% endif %}
          <h5 class="card-title">{{ seat.seat_num }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">{{ seat.student.name }}</p>
          <a href="{% url 'seat_end' seat.id %}" class="stretched-link "></a>
        </div>
      </div>
</div>

{% else %}
<div class="w-100"></div>
{% endif %}

{% endfor %}
</div>


{% endblock %}
