{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-evenly g-4">
    <div class="col-12">
      <div class="card border-dark">
        <div class="card-body text-center">
          <h5 class="card-title">칠판</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>

{% for seat in seats %}

{% if seat %}

<div class="col-1">
    <div class="card border-dark">
        <div class="card-body text-center">
          <h5 class="card-title">{{ seat.num }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text"></p>
          <a href="{% url 'seat' seat.id %}" class="stretched-link ">입찰</a>
        </div>
      </div>
</div>

{% else %}
<div class="w-100"></div>
{% endif %}

{% endfor %}
</div>


{% endblock %}
