{% extends 'school.html' %}

{% block content %}


    <div class="row justify-content-evenly g-4">
        <div class="col-12">
        <div class="card border-dark">
            <div class="card-body text-center">
            <h5 class="card-title font-weight-bold"> 칠판</h5>
            <h6 class="card-subtitle mb-2 text-muted">{% if object.notice %}공지사항{% endif %}</h6>
            <p class="card-text">{{ object.notice }}</p>
            {% if user.is_staff %}
            <a href="{% url 'room_update' object.id %}" class="stretched-link"></a>
            {% endif %}
            </div>
        </div>
        </div>

    {% for seat in seats %}

    {% if seat %}

    <div class="col-1" style="min-width: 156px;">{% if seat != 'empty' %}
        <div class="card border-dark">
            <div class="card-body text-center">
            <h5 class="card-title">{{ seat.num }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            {% if seat.owner %}
            <p class="card-text">{{ seat.owner }}</p>
            {% endif %}
            <a href="{{ seat.get_absolute_url }}" class="stretched-link"></a>
            </div>
        </div>{% endif %}
    </div>

    {% else %}
    <div class="w-100"></div>
    {% endif %}

    {% endfor %}
    </div>




{% endblock %}