{% extends 'school.html' %}

{% block content %}


    <div class="row justify-content-evenly g-4">
        <div class="col-12">
        <div class="card border-dark">
            <div class="card-body text-center">
            <h5 class="card-title font-weight-bold">칠판</h5>
            <h6 class="card-subtitle mb-2 text-muted">{% if object.notice %}공지사항{% endif %}</h6>
            <p class="card-text">{{ object.notice }}</p>
            {% if user.is_staff %}
            <a href="{% url 'room_update' object.id %}" class="stretched-link"></a>
            {% endif %}
            </div>
        </div>
        </div>

    {% for seat in seats %}

    {% if seat %}

    <div class="col-2 col-auto" style="min-width: 80px;">{% if seat != 'empty' %}
        {% if room.status == 'u' or seat.status == 'a'  or user.is_staff %}
            {% if user.student in seat.ban_list.all %}
                <div class="card border-white text-white bg-dark">
            {% else %}
                <div class="card border-dark">
            {% endif %}
        {% else %}
            <div class="card border-white text-white bg-dark">
        {% endif %}
                <div class="card-body text-center">
            <h5 class="card-title">{{ seat.num }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            {% if seat.owner %}
            <p class="card-text">{{ seat.owner }}</p>
            {% endif %}
            {% if room.status == 'u' or seat.status == 'a'  or user.is_staff %}
                {% if user.student in seat.ban_list.all %}
                    <!-- 안됨 -->
                {% else %}
                    <a href="{{ seat.get_absolute_url }}" class="stretched-link"></a>
                {% endif %}
                <!-- 안됨 -->
            {% endif %}
            </div>
        </div>{% endif %}
    </div>

    {% else %}
    <div class="w-100"></div>
    {% endif %}

    {% endfor %}
    </div>




{% endblock %}