{% extends 'school.html' %}

{% block content %}

<h1>{{object}}</h1>
<br>
{% if not user.is_staff %} 
    {% if not log %}
        {% if object.status == 'a' %}
            {% if user.student.point > 0 %}
            <form method="POST" action="{% url 'auction' object.id %}?next={{ request.path }}">
                {% csrf_token %}
                <label for="point">포인트 :</label>
                    <input type="number" id="point" name="point" min="1"  max="{{ user.student.point }}">
                <input type="submit" value="입찰">
                </form>
            {% endif %}

        {% endif %}
    {% endif %}

{% endif %}

<table class="table {% if user.is_staff %}table-hover{% endif %}">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Student</th>
            <th scope="col">Detail</th>
            {% if object.room.status == 'a' %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
{% if user.is_staff or object.room.status == 'u' %}


    {% for log in logs %}
        {% if log.canceled %}
         <tr class="cancel">
            {% else %}
            <tr>
         {% endif %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ log.created_date }}</td>
            {% if user.is_staff %}<td style = "cursor:pointer;" onclick='location.href="{{log.log_student.get_absolute_url}}"'>{% else %}<td>{% endif %}{{ log.log_student }}</td>
            <td>{{ log.point }}포인트로 입찰함.</td>
            {% if object.room.status == 'a' %}
                {% if not log.canceled %}
            <td class="table-danger"><a href="{% url 'cancel' log.id %}?next={{ request.path }}">취소하기.</a></td>
                    {% endif %}
            {% endif %}  
        </tr>

    {% endfor %}


{% else %} <!--외부인 or 학생 그치만 외부인은 content블록 안쪽을 못 보니 사실상 학생만.-->

    {% if log %}
        <tr>
            <th scope="row">-</th>
            <td>{{ log.created_date }}</td>
            <td> 나 </td>
            <td>{{ log.point }}포인트로 입찰함.</td>
            {% if object.room.status == 'a' %}
            <td class="table-danger"><a href="{% url 'cancel' log.id %}?next={{ request.path }}">취소하기.</a></td>
            {% else %}
            <td>-</td>
            {% endif %}  
        </tr>
    {% endif %}

{% endif %}
</tbody>





{% endblock %}