{% extends 'base.html' %}

{% block home %}

<div class="row justify-content-evenly g-2">
    <div class="col-12">
      <div class="card border-dark">
        <div class="card-body text-center">
          <h5 class="card-title">칠판</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
{% for seat in seats %}

{% if seat %}

  {% if seat == 'empty' %}
  <div class="col-1"></div>
  {% else %}

  
  <div class="col-1">
    {% if seat.id == my_seat.id %}
      <div class="card text-white bg-secondary border-dark">
    {% else %}
      <div class="card border-dark">
    {% endif %}
          <div class="card-body text-center">
            <h5 class="card-title">{% if seat.num < 10 %}&nbsp;{% endif %}{{ seat.num }}{% if seat.num < 10 %}&nbsp;{% endif %}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text"></p>
            {% if seat.status == 'a' %}
              <a href="{% url 'seat' seat.id %}" class="stretched-link "></a>
            {% endif %}
          </div>
        </div>
  </div>
  {% endif %}

{% else %}
<div class="w-100"></div>
{% endif %}

{% endfor %}
</div>


{% endblock %}
