{% extends "base.html" %}

{% block content %}

<h1>Sign Up</h1>

<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <strong>ID:</strong>
    
    <input name="username"  type="text" >
    <br><br>
    <strong>이름:</strong>
    
    <input name="first_name" type="text">
    <br>
    <br>
    <strong>성:</strong>
    
    <input name="last_name" type="text">
    <br><br>
    <strong>Email:</strong>
    
    <input name="email" type="text">
    <br><br>
    <strong>Password:</strong>
    
    <input name="password1"  type="password" >
    <br><br>
    <strong>Password confirmation:</strong>
    
    <input name="password2"  type="password" >
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="회원가입">
</form>

{% endblock %}