{% extends 'school.html' %}
{% block title %}
log_archive.html
{% endblock %}

{% block teacher %}
<h1>Until {% now "Y F jS   H:i" %}</h1>

<br>

<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">

        {% for date in date_list %}

                <a href="{% url 'log_year_archive' date|date:'Y' %}">{{ date|date:"Y" }}년 기록</a><br>

        {% endfor %}

    </div>
    <div class="col-md-7 col-lg-8">
        <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">날짜</th>
                  <th scope="col">학생</th>
                  <th scope="col">포인트</th>
                  <th scope="col">이유</th>
                </tr>
              </thead>
              <tbody>
              {% for log in object_list %}
                <tr>
                  <th scope="row"><strong>{{ log.created_date|date:"Y-m-d" }}</strong></th>
                  <td>{{ log.log_student }} ({{ log.log_student.id }}번)</td>
                  <td>{{ log.point }}</td>
                  <td>{{ log.reason }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
    </div>

</div>
{% endblock %}