{% extends 'school.html' %}
{% block title %}
log_archive_day.html
{% endblock %}

{% block teacher %}
<h1>{{ day|date:"Y년 m월 d일" }} 기록</h1>

    <div class="row g-5">
        <div class="col-12">
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">날짜</th>
                      <th scope="col">학생</th>
                      <th scope="col">포인트</th>
                      <th scope="col">이유</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for log in object_list %}
                      <tr>
                        <th scope="row"><strong>{{ log.created_date|date:"g:i:s A" }}</strong></th>
                        <td>{{ log.log_student }} ({{ log.log_student.id }}번)</td>
                        <td>{{ log.point }}</td>
                        <td>{{ log.reason }}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
        </div>

    </div>
{% endblock %}